/* GENERAL */
.required {
    display: inline;
    font-weight: 700;
}

* {
    font-family: 'Assistant', sans-serif;
    color: #373737;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FCFCFC !important;
}

ul {
    list-style: none;
}

.card {
    background-color: #FCFCFC !important;
}

/* TITLE */
h1 {
    font-family: 'Assistant', sans-serif !important;
}

h2 {
    line-height: 120% !important;
    font-family: 'Source Serif 4', serif !important;
    font-size: 64px !important;
}

h3 {
    line-height: 120% !important;
    font-family: 'Source Serif 4', serif !important;
    font-size: 44px !important;
}

h4 {
    text-align: left !important;
    line-height: 90% !important;
    font-family: 'Source Serif 4', serif !important;
    font-size: 78px !important;
    padding-bottom: 10px;
}

h5 {
    font-size: 18px;
    font-family: 'Assistant', sans-serif !important;
}

/* NAVBAR */
.navbar {
    background-color: #F6F4F3 !important;
}

.navbar-title {
    font-weight: 200 !important;
    font-size: 28px !important;
    color: #373737;
    letter-spacing: -0.055em;
}

.nav-link {
    font-size: 16px;
    margin: 5px;
    font-weight: 400;
    text-transform: uppercase;
}

/* SECTION */
.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-title {
    text-align: center;
    margin: auto 0 !important;
    width: 100%;
}

.section-paragraph {
    font-style: italic ;
    text-align: justify;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* BUTTONS */
.button.teal-button {
    position: absolute;
    padding: 12px 38px;
    left: -5px;
    top: -5px;
}

.button {
    text-decoration: none;
    font-family: "Assistant", sans-serif;
    font-size: 18px;
    background-color: #fffefe;
    border-color: #D66B4A;
    border-style: solid;
    border-width: 1px;
    color: #D66B4A;
}

.popin-button:hover {
    color: #D66B4A !important;
}

.bg-button {
    background-color: #EB8D44;
    position: absolute;
    width: 130px;
    height: 55px;
    border: none;
}

.card-button-title {
    color: #D66B4A;
    font-weight: 600;
}

.card-button-content {
    color: #706B6D;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}

/* HERO SECTION */
#hero-section-picture {
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 420px;
    object-fit: cover;
}

/* HOBBIES SECTION */
#hobbies-section {
    line-height: 2.2;
}

#hobbies-section-div-picture {
    height: auto;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#hobbies-section-picture {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.hobbies-section-list-icons {
    color: #EB8D44;
}

.hobbies-section-list {
    margin-right: 10px;
    display: inline-flex;
    width: 20px;
    color: #EB8D44;
}

/* WORK SECTION */
#work-section {
    background-color: #FCFCFC !important;
    margin-top: 100px;
}

.card {
    border: none !important;
    border-radius: 0 !important;
}

.work-section-card {
    margin-top: 30px;
    border-bottom: solid 1px #E0E0E0 !important;
    padding-bottom: 80px;
}

.float-right {
    float: right;
    right: 25px;
    top: 55px;
    position: absolute;
    margin: -30px;
    max-height: 140px;
    width: auto;
}

.card-text-center {
    text-align: center !important;
}

/* ABOUT SECTION */
#about-section {
    background-color: #FCFCFC !important;
    margin-bottom: 20px;
    justify-content: space-between;
}

#about-section-title {
    padding-bottom: 60px;
}

.about-section-teal-button {
    position: absolute;
    padding: 12px 20px;
    left: 5px;
    top: -8px;
    width: 260px;
    height: 220px;
}

.border-light {
    border: solid 1px #FDF4F1 !important;
}

.about-section-bg-button {
    background-color: #FDF4F1;
    width: 260px;
    height: 220px;
    border: none;
}

@media (min-width: 992px) {
    .about-section-margin {
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #work-section {
        width: 80%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width: 992px) {
    .about-section-margin {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.mb-30 {
    margin-bottom: 30px;
}

/* OTHER XP SECTION */
.card-button-content {
    text-align: justify;
}

@media (min-width: 992px) {
    .other-xp-section-margin {
        display: flex;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #other-xp-section {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px;
        justify-content: space-between;
        background-color: #FCFCFC !important;
    }
}

@media (max-width: 992px) {
    .other-xp-section-margin {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #other-xp-section {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px;
        justify-content: space-between;
        background-color: #FCFCFC !important;
    }
}

#other-xp-section-title {
    padding-bottom: 30px;
}

/* FOOTER */
.footer-img {
    height: 80px;
    width: auto;
    float: right;
}

.opacity-low {
    opacity: 6%;
}

footer {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: #000;
}

/* MODALS */
.modal-picture {
    margin: 20px auto;
    width: 100%;
    height: auto;
}

.modal-icons {
    font-size: 28px;
}

.work-section-demo {
    margin: 0 auto;
    width: 100%;
    max-height: 360px;
}

.box {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.popin-button {
    color: #D66B4A;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popin {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 1px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popin h2 {
    margin-top: 0;
    color: #D66B4A;
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 500;
    font-family: 'Assistant', sans-serif;
}

.popin .close {
    transition: all 5s ease-in-out;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 26px;
    font-weight: 800;
    text-decoration: none;
    color: #D66B4A;
    margin-bottom: 10px;
}

.popin .close:hover {
    color: #EFAC78;
}

.popin-content {
    min-width: 360px;
    max-width: 520px;
    height: 480px;
    max-height: 75%;
    overflow: auto;
}

.popin-footer {
    color: #D66B4A;
    width: 100%;
    height: 60px;
    padding: 15px;
    text-align: center;
}

.popin-footer-icon {
    font-size: 33px;
    text-align: right !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popin {
        width: 70%;
    }
}

.popin-teal {
    padding: 12px 20px;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 400px;
    transition: all 5s ease-in-out;
}

.popin-bg {
    transition: all 5s ease-in-out;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-color: #EFAC78;
    min-width: 360px;
    max-width: 520px;
    height: 400px;
    border: none;
}

/* CONTACT SECTION */
@media screen and (min-width: 992px) {

}


#contact-section {
    margin-right: auto;
    margin-left: auto;
    padding: 60px;
    background-color: #EFAC78;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.about-button {
    background-color: #FCFCFC;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: auto;
    height: 50px;
    border: none;
    color: #D66B4A;
}

.contact-bg-button {
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: auto;
    height: 50px;
    border: none;
    color: #FCFCFC !important;
}

.contact-button {
    font-weight: 500;
    padding: 12px 38px;
    color: #fCFCFC !important;
}

#contact-form-submit {
    margin-left: auto;
    margin-right: auto;
    font-family: "Assistant", sans-serif;
    font-size: 18px;
}

.contact-form-bg-submit {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

#contact-form-button {
    padding: 5px 20px;
    background-color: #fffefe;
    border-color: #D66B4A;
    border-style: solid;
    border-width: 1px;
    color: #D66B4A;
}

a:hover {
    text-decoration: none !important;
    font-weight: 600 !important;
}

.color-orange {
    color: #D66B4A;
}

.color-white {
    color: #FCFCFC;
}

.color-white:hover {
    color: #FCFCFC !important;
}

.footer-icons {
    color: #000000;
    margin: 10px;
    font-size: 32px;
}

.footer-icon-notion {
    margin-top: 11px;
    width: auto;
    height: 29px;
}

#download-cv-button {
    color: #D66B4A;
}

#contact-form {
    margin: 10px auto;
}

input {
    background-color: #FDF4F1;
    color: #373737;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 2px;
}

textarea {
    background-color: #FDF4F1;
    color: #373737;
    border-radius: 2px;
    padding: 8px;
    border: none;
    min-height: 120px;
    max-height: 300px;
    width: 100%;
}

input:focus, textarea:focus {
    outline: 1px solid #373737;
}

button:hover {
    font-weight: 600;
}

/* BACK TO TOP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #D66B4A;
    color: #FCFCFC;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #FCFCFC;
}